sudo: false
language: node_js
node_js:
  - "9"
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"
  - "3"
  - "2"
  - "1"
  - "0.12"
  - "0.11"
  - "0.10"
before_script: 
 - npm install -g codeclimate-test-reporter
 - npm install -g istanbul
script: istanbul cover -v test/run.js 
after_script:
 - codeclimate < coverage/lcov.info
addons:
 code_climate:
  repo_token: b35329675ea7060fa7481c19115d0a40beddf39eb0a54c810a7aad1d63760816 
matrix:
 allow_failures:
